[defaults]
inventory = inventory/prod.yml
host_key_checking = False
private_key_file = /home/alexlinux/.ssh/yandex_cloud_key
remote_user = ubuntu
timeout = 60

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o IdentitiesOnly=yes
pipelining = True
