server {
    listen 80;
    server_name _;
    
    root /var/www/lighthouse;
    index index.html;
    
    access_log /var/log/nginx/lighthouse.access.log;
    error_log /var/log/nginx/lighthouse.error.log;
    
    location / {
        try_files $uri $uri/ =404;
    }
}
